.header{
    height: 280px;
    display: flex;
    padding: 30px 40px;
    background-color: #fff;

}
.navs-logan{
    width: 420px;
    margin-left: 50px;
    text-align: center;
}
h2{
    font-size: 45px;
}