.navbar{
    display: flex;
    background-color: #6717f155;
}
.nav_name{
    padding: 5px 30px;
    color: #e74c3c;
}
.nav_menu{
    padding: 27px 30px;
    margin-left: 275px;
}
a{
    text-decoration: none;
    color: #212f3d;
    margin: 0px 10px;
    font-size: 20px;
}
h2{
    margin: 25px 12px 34px 25px;
}