<div class="container">
	<div id="formContent">
		<!-- Icon -->
		<div class="fadeIn first">
			<h2 class="my-5">Sign in Small business community AÇ</h2>
		</div>
        <div class="radio_btn">
            <p>Choose your role:</p>
            <!-- <mat-radio-group aria-label="Select an option">
                <mat-radio-button>Option 1</mat-radio-button>
                <mat-radio-button >Option 2</mat-radio-button>
              </mat-radio-group> -->
        </div>

		<!-- Login Form -->
		<form>
			<input formControlName="email" type="email" id="email" class="fadeIn second zero-raduis" name="email" placeholder="name@example.com">
			<input formControlName="password" type="password" id="password" class="fadeIn third zero-raduis" name="login" placeholder="password">
			<div id="formFooter">
				<a class="underlineHover">Parolanızı mı unuttunuz?</a>
			</div>
			<input type="submit"   routerLinkActive="router-link-active"  class="fadeIn fourth zero-raduis" value="Giriş Yap">
			<h2>Hesabınız yokmu ?</h2>
			<input routerLink="/register" type="button" class="fadeIn fourth zero-raduis pc" value="Kayıt Ol">
		</form>

	</div>
</div>