
.container{
    width: 1440px;
height: 1024px;
top: -19452px;
left: -2766px;

}
.fadeIn first {
    width: 346px;
    height: 96px;
    top: 183px;
    left: 907px
}

.radio_btn {
    width: 132px;
    height: 19px;
    top: 306px;
    left: 874px
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }